

{% load static %}

{% block content%}

<h1>Welcome! {{User}}</h1>



<div class="container">
  <table class="table table-hover table-bordered">
    <thead>
      
      <tr>
        <th class="text-center" scope="col">Id</th>
        <th class="text-center" scope="col">First</th>
        <th scope="col">Last</th>
        <th class="text-center"scope="col">Email</th>
        <th class="text-center"scope="col">Phone</th>
        <th class="text-center"colspan ="2">options</th>
      </tr>
    </thead>



    <tbody>
      {% for item in context.user %}
      <tr>
        <th  class="text-center"scope="row">{{item.id}}</th>
        <td class="text-center">{{item.f_name}}</td>
        <td class="text-center">{{item.l_name}}</td>
        <td class="text-center">{{item.email}}</td>
        <td class="text-center">{{item.phone}}</td>
        <td class="text-center"><a href="{% url 'update_user' item.id %}">Update</a></td>
        <td class="text-center"><a href="{% url 'delete_user' item.id %}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


</div>
{% endblock %}